
.notification {
    -fx-background-image: url('/resources/notiBackground.png');
    -fx-background-repeat: no-repeat;
    -fx-padding: 0 0 0 70;
}

.notification .title {
	-fx-font-size: 13pt;
    -fx-font-family: "affogato medium";
    -fx-text-fill  : black;
}

.notification .message {
	-fx-font-size: 11pt;
    -fx-text-fill  : #464646;
}
