.jfx-tab-pane .headers-region {
    -fx-background-color: #f16868;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #f16868;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #ffffff;
}

.jfx-tab-pane .tab-label {
    -fx-font-size: 12pt;
    -fx-font-family: "affogato bold";
}
