
.root {
	-fx-background-color: #c0c0c0;
    -fx-background-radius: 5;
    -fx-padding: 10;
}
 
.content {
    -fx-background-color: #c0c0c0;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

.label {
    -fx-font-family: "나눔스퀘어";
}

.button {
	-fx-background-color: transparent;
}