
.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #cecece;
}

.table-view .column-header {
    -fx-background-color: #f1f4f7;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30;
}

.table-row-cell {
	-fx-size: 10;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "affogato bold";
    -fx-text-fill: #6c6c6c;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
	/*-fx-background-color: #f26868;*/
	-fx-table-cell-border-color: transparent;
    -fx-background-color: #d0d0d0;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}